<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>insert webpage</h1>
        
        <form method="POST">
            {% csrf_token %}
        <label for="topic_name">topic name</label>
        <select name="topic_name" id="topic_name">
            {% for to in LTO %}
                <option value="{{to.topic_name}}">{{to.topic_name}}</option>
            {% endfor %}
        </select>
        <br>
        <br>

        <label for="name">name</label>
        <input type="text" name="name" id="name"><br><br>

        <label for="url">url</label>
        <input type="text" name="url" id="url"><br><br>
        <input type="submit" value="submit">

        </form>






        
        

    </center>
</body>
</html>